ul.row-overflow{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow-x: auto;
  li div {
    width: 200px;
    border: 1px solid #eee;
    padding: 6px;
    text-align: left;
  }
}

ul.style-list div {
  padding: 6px;
  text-align: left;
}



